* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
body {
	padding: 30px;
}
@font-face {
	font-family: BucThu;
	src: url(fonts/BucThu.TTF);
}
@font-face {
	font-family: BayBuom;
	src: url(fonts/BayBuom_R.TTF);
	font-weight: normal;
}
@font-face {
	font-family: BayBuom;
	src: url(fonts/BayBuom_B.TTF);
	font-weight: bold;
}
p {
	font-family: BayBuom, Arial, Tahoma, sans-serif;
	font-weight: bold;
}
p i {
	color: red;
	font-size: 14px;
	text-decoration: line-through;
}

