* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

#cha {
	width: 400px;
	border-width: 2px;
	border-style: dashed;
	border-color: red;

	text-align: right;
	letter-spacing: 10px;
}
#con {
	display: inline;
	width: 150px;
	background-color: green;
}