* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
body {
	padding: 30px;
}
P {
	background-color: red;
	width: 100px;
	height: 100px;
	color: white;
	font-size: 20px;
	transition: width 1s ease-in;
}

p:hover {
	width: 500px;
}

