* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
body {
	padding: 30px;
}
P {
	background-color: red;
	width: 300px;
	height: 300px;
	box-shadow: 2px 3px 4px black, -2px 3px 4px black;
	color: white;
	font-size: 30px;
	text-shadow: 1px 0px 0px black, -1px 0px 0px black;
}

