* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

#cha {
	border: 2px solid red;
	display: flex;
}
#cha div {
	border: 2px solid green;
}
#pro {
	width: 100px;
}
#pro2 {
	width: 100px;
}
#mot {
	flex-grow: 1;
}
#hai {
	flex-grow: 3;
}
