* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

#cha {
	border: 2px solid red;
	display: flex;
}
#cha div {
	border: 2px solid green;
}
#mot {
	width: 150px;
	flex-shrink: 1;
}
#hai {
	width: 150px;
	flex-shrink: 3;
}


